@charset "utf-8";

html {
	/* 对应值为 font-size: 10px; */
	font-size: 62.5%;
}
body {
	color: #333;
	margin: 0;
	overflow: auto;
	overflow-x: hidden;
	margin-left: 0;
	margin-top: 0;
	background-color: #fffaeb;

}
p {
	font-family: Verdana, Helvertica, 微软雅黑，Arial;
	font-size: 14px;
	line-height: 30px;
	margin-bottom: 5px;
}
table {
	font-family: Verdana, Helvertica, 微软雅黑，Arial;
	font-size: 14px;
	width: 1000px;
}
tr {
	padding-bottom: 30px;
}
td {
	padding-left: 30px;
	vertical-align: text-top;
}
a:link {
	text-decoration: none;
	color: #999;
}
a:visited {
	text-decoration: none;
	color: #999;
}
a:hover {
	text-decoration: underline;
	color: #999;
}
img {
	max-width: 100%;
	border: none;
}

.contentCenter{
	text-align:center;
	margin:0 auto;
	padding-top:20%;
}
.top {
		
	/* 加载背景图 */
	background-image: url(../images/Lemon-Island_s.jpg);
	/* 背景图垂直、水平均居中 */
	background-position: center center;
	/* 背景图不平铺 */
	background-repeat: no-repeat;
	/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
	background-attachment: fixed;
	/* 让背景图基于容器大小伸缩 */
	background-size: cover;
	/* 设置背景颜色，背景图加载过程中会显示渐变背景色 */
	background-color: #43adcf;
	
	color: #ffffff;	
	/*margin-right: 57px;*/
	/*width: 100%;
	margin: 0 auto;*/
	
	
	
}
.bottom {
	/* 加载背景图 */
	background-image: url(../images/CV_pdf6_bg.jpg);
	/* 背景图垂直、水平均居中 */
	background-position: center center;
	/* 背景图不平铺 */
	background-repeat: no-repeat;
	/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
	background-attachment: fixed;
	/* 让背景图基于容器大小伸缩 */
	background-size: cover;
	/* 设置背景颜色，背景图加载过程中会显示渐变背景色 */
	background-color: #fff;
	color: #ffffff;
	width: 100%;
	margin: 0 auto;
	background-color: #f9e7f0;
}


.about {
	
/*	clear: both;
	width: 100%;
	margin: 0 auto;*/
}
.works_graphic, .works_photo {
/*	clear: both;
	width: 100%;
	margin: 0 auto;
	background-image: none;*/
	background-color: #fff;
	bottom:-1000px;

}
.works_photo {
	margin-top:-0.28rem;
	
}
.experience {
	clear: both;
	width: 100%;
	height: 1850px;
/*	background-image:url(images/experience_bg.gif);
	background-repeat:no-repeat;
	padding-left:200px;*/
	
	
filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#c3e6e6, endColorStr=#e7ecac); /*IE*/
	background: -moz-linear-gradient(top, #c3e6e6, #e7ecac);/*火狐*/
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c3e6e6), to(#e7ecac));
	/*谷歌*/ 
	background-color: #c3e6e6;
	padding-top: 10%;
	
	
}

/*DIV水平对齐开始*/
.centerH_auto {
	margin-left: auto;
	margin-right: auto;
}
/*父*/
.div_centerHF {
	display: block;
	float: left;
	position: relative;
	left: 50%;
}
/*子*/
.div_centerH {
	display: block;
	float: left;
	position: relative;
	right: 50%;
}
/*DIV水平对齐结束*/

/*DIV垂直对齐开始*/
.Vcenter_WHfixed_1000x520{
 width: 1000px; 
 height:520px; 
 margin-left: -500px; /*值的大小等于元素宽度的一半*/
 margin-top: -350px;/*值的大小等于元素高度的一半*/
}

.Vcenter_WHfixed{
 position: absolute;
 left: 50%;/*配合margin-left的负值实现水平居中*/ 
 top:50%;/*配合margin-top的负值实现垂直居中*/
 
}
/*DIV垂直对齐开始*/


/*垂直间距开始*/ 
.MarginT_-1 {
	margin-top: -0.07rem;
}
.MarginT_-2 {
	margin-top: -0.14rem;
}
.MarginT_-3 {
	margin-top: -0.21rem;
}
.MarginT_-4 {
	margin-top: -0.28rem;
}
.MarginT_-5 {
	margin-top: -0.35rem;
}
.MarginT_-6 {
	margin-top: -0.42rem;
}
.MarginT_-7 {
	margin-top: -0.49rem;
}
.MarginT_-8 {
	margin-top: -0.56rem;
}
.MarginT_-9 {
	margin-top: -0.63rem;
}
.MarginT_-10 {
	margin-top: -0.70rem;
}
/*垂直间距结束*/ 



.left_logo {
	width: 274px;
}
.right {
	clear: both;
	width: 100%;
	text-align: right;
}
.about_left {
	display: block;
	float: left;
	background-color: #fff44f;
	height: 650px;
	width: 34%;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 10%;/*background-image:url(images/yellow_bg.gif);
border-image-repeat:repeat;
float:left;*/



}
.about_right {
	display: block;
	float: left;
	background-color: #ffffff;
	height: 650px;
	width: 34%;
	padding-left: 8%;
	padding-right: 8%;
	padding-top: 10%;/*background-image:url(images/white_bg.gif);
border-image-repeat:repeat;
float:left;*/
}
.date {
	font-size: 16px;
	color: #999
}
.textcn {
	font-family: 微软雅黑;
	color: #666;
}
.textblue {
	color: #86bfbf;
	font-size: 18px;
}
.textblue_cn {
	font-family: 微软雅黑;
	color: #86bfbf;
	font-size: 18px;
}
.textexperience {
	color: #666;
	font-size: 16px;
	line-height: 30px;
	background-color: #fff;
	padding: 3%
}
.textcontact {
	font-family: Verdana, Helvertica, 微软雅黑，Arial;
	font-size: 18px;
	color: #304040;
	padding-top: 20px;
}
.divided-line {
	border-bottom: 1px dashed #c3e6e6;
}
.list_space {
	padding-top: 15px;
}
.fieldeng {
	color: #666;
	font-size: 16px;
}
.fieldeng999 {
	color: #999;
	font-size: 15px;
}
.rightmargin {
	margin-right: 57px;
}
.fieldtitle {
	float: left;
	width: 120px;
	font-size: 13px;
	line-height: 30px;
	color: #666;
	margin-top: 165px;
	margin-left: 20px;
}
.field {
	float: left;
	width: 480px;
	font-size: 18px;
	font-weight: bold;
	line-height: 30px;
	text-align: left;
	margin-top: 160px;
	margin-left: -45px;
}
.fieldtitle li {
	text-align: left;
}
.field li {
	text-align: left;
}
li {
	display: inline
}




.drawingsize1 {
	width: 330px;
	height: inherit;
}
.photo1 {
	float: left;
}
.photo2 {
	float: left;
	margin-left: 10px;
}
.workstitle {
	float: left;
	margin-top: 50px;
	width: 100%;
	margin-right: 15px;
	padding: 0px;
}
.category {
	padding-top: 25px;
}

.showIn1400
{display:none;}


@media only screen and (max-width : 1920px) {
  .ez-W1 {width: 40%;}
  .ez-W2 {width: 20%;}
  .hideIn1920{ display:none;}

}
@media only screen and (max-width : 1400px) {
  .ez-W1 {width: 66.66666%;}
  .ez-W2 {width: 33.33333%;}
  .hideIn1400{ display:none;}
  .showIn1400{ display:block;}

}